--
-- Struktura tabulky `attribute`
--

CREATE TABLE IF NOT EXISTS `{{prefix}}attribute` (
`id` int(10) unsigned NOT NULL AUTO_INCREMENT,
`dataset` int(10) unsigned NOT NULL,
`field` int(10) unsigned NOT NULL,
`name` varchar(255) NOT NULL,
`type` enum('NOMINAL','NUMERIC') NOT NULL,
`unique_values_size` int(10) unsigned NOT NULL,
`active` tinyint(1) NOT NULL DEFAULT '0',
PRIMARY KEY (`id`,`dataset`),
KEY `dataset` (`dataset`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1;

-- --------------------------------------------------------

--
-- Struktura tabulky `attribute_numeric_detail`
--

CREATE TABLE IF NOT EXISTS `{{prefix}}attribute_numeric_detail` (
`id` int(10) unsigned NOT NULL,
`min` double NOT NULL,
`max` double NOT NULL,
`avg` double NOT NULL,
PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin;

-- --------------------------------------------------------

--
-- Struktura tabulky `dataset`
--

CREATE TABLE IF NOT EXISTS `{{prefix}}dataset` (
`id` int(10) unsigned NOT NULL AUTO_INCREMENT,
`data_source` int(10) unsigned NOT NULL,
`name` varchar(255) NOT NULL,
`type` enum('LIMITED','UNLIMITED') NOT NULL,
`size` int(10) unsigned NOT NULL,
`active` tinyint(1) NOT NULL DEFAULT '0',
PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin AUTO_INCREMENT=1 ;

-- --------------------------------------------------------

--
-- Omezení pro exportované tabulky
--

--
-- Omezení pro tabulku `attribute`
--
ALTER TABLE `{{prefix}}attribute`
ADD CONSTRAINT `{{prefix}}attribute_ibfk_1` FOREIGN KEY (`dataset`) REFERENCES `{{prefix}}dataset` (`id`) ON DELETE CASCADE ON UPDATE CASCADE;

--
-- Omezení pro tabulku `attribute_numeric_detail`
--
ALTER TABLE `{{prefix}}attribute_numeric_detail`
ADD CONSTRAINT `{{prefix}}attribute_numeric_detail_ibfk_1` FOREIGN KEY (`id`) REFERENCES `{{prefix}}attribute` (`id`) ON DELETE CASCADE ON UPDATE CASCADE;