{{!
@param Integer        minlen
@param Integer        maxlen
@param Boolean        auto
}}
{{#auto}}
    rules <- processauto({{{maxlen}}})
{{/auto}}
{{^auto}}
    rules <- process({{{minlen}}}, {{{maxlen}}})
{{/auto}}

capture.output(print(rules))