CREATE TABLE IF NOT EXISTS `{{prefix}}field` (
`id` int(10) unsigned NOT NULL AUTO_INCREMENT,
`data_source` int(10) unsigned NOT NULL,
`name` varchar(255) NOT NULL,
`type` enum('NOMINAL','NUMERIC') NOT NULL,
`unique_values_size` int(10) unsigned NOT NULL,
PRIMARY KEY (`id`,`data_source`),
KEY `data_source` (`data_source`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 AUTO_INCREMENT=1 ;

CREATE TABLE IF NOT EXISTS `{{prefix}}field_numeric_detail` (
`id` int(10) unsigned NOT NULL,
`min` double NOT NULL,
`max` double NOT NULL,
`avg` double NOT NULL,
PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE IF NOT EXISTS `{{prefix}}data_source` (
`id` int(10) unsigned NOT NULL AUTO_INCREMENT,
`name` varchar(255) NOT NULL,
`type` enum('LIMITED','UNLIMITED') NOT NULL,
`size` int(10) unsigned NOT NULL,
`active` tinyint(1) NOT NULL DEFAULT '0',
PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 AUTO_INCREMENT=1 ;

CREATE TABLE IF NOT EXISTS `{{prefix}}value` (
`id` int(10) unsigned NOT NULL AUTO_INCREMENT,
`field` int(10) unsigned NOT NULL,
`value_nominal` varchar(255) DEFAULT NULL,
`value_numeric` double DEFAULT NULL,
`frequency` inta(10) unsigned NOT NULL,
PRIMARY KEY (`id`,`field`),
KEY `field` (`field`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8 AUTO_INCREMENT=1;